html,body,h1,h2,h3,h4,h5,h6,p{
	padding: 0;
	margin: 0;
}
a{
	color:white;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background: url(../img/bg1.jpg) no-repeat;
	background-position: 70% 90%;
}
.container{
	background-color:rgba(0,0,0,0.5);
	background-image: url(../img/bg1.png);
	background-repeat: no-repeat;
	background-position: right top;
	border-radius: 1.5em;
	color: #fefefe;
	overflow: auto; 
    position: absolute;
	left: 50%;
	bottom: 5%;
	margin-left: -45%;
	width:auto;
	height:auto;
	max-height: 80%;
	min-width:90%;
}
header{
	padding:1rem 1rem 1rem 3rem;
}
section{
	font-size:1.2rem;
	padding:0 0 1rem 3rem;
	
}
.section-inner a:hover{
	color:cornflowerblue;
}
