html,body{
	margin:0;padding:0;
	width: 100%;height: 100%;
	font-family: "microsoft yahei";
}
section,header,footer,div,h1,h2,h3,h4,h5,h6,ul,li,ol{
	margin:0;padding:0;
}
ul{
	list-style: none;
}
img{
	display: block;
	border:none;	
}
a{
	text-decoration: none;
	
}
.header{
	height:10%;
	background: yellowgreen;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
